body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 1.1em;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo img {
    height: 15px;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-inline: 190px;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    text-align: center;
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: 500px;
    display: block;
    filter: blur(2px) brightness(50%);
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 2px 4px black;
}

.text-banner h1 {
    margin: 0;
    font-size: 2.5rem;
}


.partie {
    display: flex;
    margin: 20px auto;
    max-width: 600px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
    border: 0.25em outset rgba(128, 128, 128, 0.192);
    border-radius: 10px;
    padding: 10px;
    background-color: #0a0c0e0a;
}

.partie>h1 {
    font-size: 2em;
    margin-bottom: 0px;
}

.partie button {
    background-color: #0081FB;
    border: solid #005bb58f 2px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    margin: auto 5px auto 5px;
    text-shadow: #f0f4f6 1px 0 10px;
    cursor: pointer;
}

.partie button:hover {
    background-color: #005bb5;
}



.actualite {
    max-width: 600px;
    text-align: center;
    margin: auto auto 25px auto;
}

.actualite>h1 {
    font-size: 2em;
    color: black;
}

.actualite>p {
    color: #727272;
    font-size: 1.1em;
}

.carte-reseaux {
    display: flex;
    justify-content: space-evenly;
}
.carte-reseaux * {
    text-decoration: none;
    color: #727272;
}
.carte-reseau {
    min-width: 87px;
    max-width: 87px;
    border-style: solid;
    border-color: #005bb509;
    border-width: 2px;
    background-color: #0082fb25;
    border-radius: 20px;
    padding: 2px;
    font-size: 1.1em;
}



footer {
    display: flex;
    background-color: #f0f4f6;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

footer>div {
    flex: 1 1 auto;
    margin: 10px;
}

footer > div:first-child {
    text-align: center; 
}

footer > div > img {
    width: 100px;
    height: auto;
}

.footer-reseaux {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.footer-reseaux > a > img {
    width: 30px;
    height: auto;
}

.footer-legal {
    text-align: center;
    font-size: 0.9em;
}
