body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* HEADER */
header {
    background-color: #f0f4f6;
    padding: 1.1em;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: 25px; 
    max-width: 100%;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-inline: 10px;
}

.menu-item {
    flex: 1 1 auto;
    min-width: 100px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 1s ease;
    text-align: center;
    font-size: 1em;
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}

/* HEADER */

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 80%;
    border-radius: 20px;
    margin: 25px auto;
    height: auto;
    display: block;
    filter: blur(2px) brightness(40%);
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 2px 4px black;
}

.text-banner h1 {
    margin: 0;
    font-size: 4vw;
}

.text-banner button {
    background-color: #0081FB;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5vw;
}

.text-banner button:hover {
    background-color: #005bb5;
}

.presentation {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 40px;
    column-gap: 2em;
}

#imageMains {
    grid-column: 2;
    grid-row: 1/3;
    width: 323px;
    border-radius: 20px;
    justify-self: center;
}

.presentation>h1 {
    align-content: end;
    text-align: center;
    grid-column: 3;
    grid-row: 1;
}

#notreMissionTexte {
    grid-column: 3;
    grid-row: 2;
    font-size: 1em;
    color: #555;
}

#imageCovoiturage {
    grid-column: 3;
    grid-row: 3/5;
    width: 323px;
    border-radius: 20px;
    justify-self: center;
}

.presentation>h4 {
    align-content: end;
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}

#planMobiliteTexte {
    grid-column: 2;
    grid-row: 4;
    font-size: 1em;
    color: #555;
}

.stats {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4em 1fr;
    background-image: linear-gradient(white, rgb(248, 167, 255), rgba(169, 192, 255, 0.548), rgba(169, 192, 255, 0.548));
}

.stats>h1 {
    text-align: center;
    grid-column: 1/3;
    grid-row: 1;
}

.stats>p {
    font-size: 1.2em;
    color: #555;
    grid-column: 2;
    grid-row: 2;
    margin-right: 50%;
    text-align: left;
}

.stats>ul {
    margin-top: 0px;
    list-style: none;
    text-align: center;
    grid-column: 1;
    grid-row: 2;
    vertical-align: top;
}

.stats>ul>li{
    margin-top: 20px;
    text-align: center;
}


.avantages {
    margin: 20px auto;
    max-width: 1200px;
    text-align: center;
}

.avantages-header h1 {
    font-size: 2em;
    color: black;
    margin-bottom: 10px;
}

.avantages-header p {
    font-size: 1.2em;
    color: #727272;
    margin-bottom: 30px;
}

.avantages-cartes {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.avantages-carte {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#emissions {
    background-image: url('../images/environnement.png');
}

#economies {
    background-image: url('../images/economie.png');
}

#liens {
    background-image: url('../images/liens.jpg');
}


.avantages-carte h3 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.avantages-carte p {
    color: #ffffff;
    font-size: 1em;
    text-shadow: 2px 1px 2px black;
    line-height: 1.5;
}

.actualite {
    max-width: 600px;
    text-align: center;
    margin: auto auto 25px auto;
}

.actualite>h1 {
    font-size: 2em;
    color: black;
}

.actualite>p {
    color: #727272;
    font-size: 1.1em;
}

.carte-reseaux {
    display: flex;
    justify-content: space-evenly;
}
.carte-reseaux>a {
    text-decoration: none;
    color: #727272;
}

.carte-reseau {
    min-width: 87px;
    max-width: 87px;
    border-style: solid;
    border-color: #005bb509;
    border-width: 2px;
    background-color: #0082fb25;
    border-radius: 20px;
    padding: 2px;
    font-size: 1.1em;
}


footer {
    display: flex;
    background-color: #f0f4f6;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

footer>div {
    flex: 1 1 auto;
    margin: 10px;
}

footer > div:first-child {
    text-align: center; 
}

footer > div > img {
    width: 100px;
    height: auto;
}

.footer-reseaux {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.footer-reseaux > a > img {
    width: 30px;
    height: auto;
}

.footer-legal {
    text-align: center;
    font-size: 0.9em;
}
