body {
    margin: 0;
    font-family: Arial, sans-serif;
}
/* HEADER */
header {
    background-color: #f0f4f6;
    padding: 1.1em;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: 25px; 
    max-width: 100%;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-inline: 10px;
}

.menu-item {
    flex: 1 1 auto;
    min-width: 100px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 1s ease;
    text-align: center;
    font-size: 1em;
    display: block;
    padding: 5px;
    word-wrap: break-word;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}

/* HEADER */

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 80%;
    border-radius: 20px;
    margin: 25px auto;
    height: auto;
    display: block;
}

.text-banner h1 {
    margin: 0;
    font-size: 2.5rem;
}





.questions {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 20px auto 20px;
    max-width: 80%;
    padding: 20px;
    border: solid rgb(233, 232, 232);
    background-color: #f5f5f5;
    border-radius: 20px;
}

.question {
    border: solid rgb(115, 135, 252);
    width: 100%;
    padding-inline: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
}




footer {
    display: flex;
    background-color: #f0f4f6;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

footer>div {
    flex: 1 1 auto;
    margin: 10px;
}

footer > div:first-child {
    text-align: center; 
}

footer > div > img {
    width: 100px;
    height: auto;
}

.footer-reseaux {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.footer-reseaux > a > img {
    width: 30px;
    height: auto;
}

.footer-legal {
    text-align: center;
    font-size: 0.9em;
}
