/* HEADER */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f5f5f5;
    padding: 1.1em;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo img {
    height: 15px;
}

.menu {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    margin-inline: 10%;
}

.menu a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    text-align: center;
    font-size: 1.2em;
}

.menu a:hover {
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-thickness: 3px;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    filter: blur(2px) brightness(40%);
}

.text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 2px 4px black;
}

.text-banner h1 {
    margin: 0;
    font-size: 4vw;
}
/* HEADER */

/* MAIN */

/* OBJECTIFS */


.arguments {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

.arguments>h1{
    font-size: 2em;
}

.arguments>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}

.arguments>div>div>img {
    border-radius: 20px;
}


/* AVIS */
/* <section class="engagements">
            <h1>Engagement des Employés</h1>
            <div>
                <div class="boite-avis">
                    <img src="../images/facebook.png" alt="">
                    <p>avis</p>
                </div>
                <div class="boite-avis">
                    <img src="../images/facebook.png" alt="">
                    <p>avis</p>
                </div>
                <div class="boite-avis">
                    <img src="../images/facebook.png" alt="">
                    <p>avis</p>
                </div>
            </div>
        </section> */
.engagements {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.engagements>h1 {
    font-size: 2em;
}

.engagements>div {
    display: flex;
}

/* MAIN */

/* FOOTER */

footer {
    display: flex;
    background-color: #f0f4f6;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    text-align: center;
}

footer>div {
    flex: 1 1 auto;
    margin: 10px;
}

footer > div:first-child {
    text-align: center; 
}

footer > div > img {
    width: 100px;
    height: auto;
}

.footer-reseaux {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.footer-reseaux > a > img {
    width: 30px;
    height: auto;
}

.footer-legal {
    text-align: center;
    font-size: 0.9em;
}
/* FOOTER */
